.howTo {
    font-family: roboto;

}

.gridItem {
    height: 340px;

}

.saveMoney, .dontDrive {
    border-style: 2px solid;
    border-color: black;
    border-radius: 5%;
    background-color: white;
    color: black;
    padding: 6px;
}

.tips {
    position: absolute;
    height: 120px;
   
    
}

.getOutside {
    position: absolute;
    height: 130px;
   margin-right: 30px;
    
}

.gridContainer {

    padding: 220px;
    height: 1000px;
  
}

.bgi {
    opacity: 5;
    height: 1500px;
}

.button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: 250px;
    width: 200px;
}

.button:hover {
    opacity: 20%;
    background-color: white;
    transition: 0.7s;
}

.washingMachine {
    height: 150px;
}

.water {
    height: 130px;
}

.plug {
    margin-left: 80px;
    margin-top: 80px;
    height: 50px;
}

.light {
    height: 200px;
    margin-bottom: 200px;
}

.computer {
    height: 100px;
    margin-top: 60px;
    margin-left: 50px;
}

.radiator {
    height: 100px;
    margin-top: 40px;
    margin-right: 40px;
}



.saveMoney {
    height: 100px;
    margin-bottom: 170px;
    margin-right: 30px;
}
.routes {
    position:absolute;
    z-index: 3;
    margin-bottom: 300px;
}

.bike {
    height: 150px;
    margin-top: 0px;
    z-index: 0;
}

.fridge {
    height: 180px;
    margin-bottom: 40px;
}

.kettle {
    height: 100px;
    margin-right: 40px;
    margin-top: 0;
}
